<section class="page-strip">
	<div class="wrapper">
		<h2 class="h2">Default page strip using margin</h2>
		<p class="p">Some content goes here</p>
	</div>
</section>

<section class="page-strip page-strip--has-background page-strip--grey">
	<div class="wrapper">
		<h2 class="h2">Page strip with background using padding</h2>
		<p class="p">Some content goes here</p>
	</div>
</section>

<section class="page-strip page-strip--has-background page-strip--primary">
	<div class="wrapper">
		<h2 class="h2">Default page strip using margin</h2>
		<p class="p">Some content goes here</p>
	</div>
</section>

<section class="page-strip page-strip--has-top-background page-strip--grey-top-half">
	<div class="wrapper">
		<h2 class="h2">Page strip with half background using padding and margin</h2>
		<p class="p">Some content goes here</p>
	</div>
</section>

<section class="page-strip page-strip--has-bottom-background page-strip--grey-bottom-half">
	<div class="wrapper">
		<h2 class="h2">Page strip with half background using padding and margin</h2>
		<p class="p">Some content goes here</p>
	</div>
</section>
