@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/z-index';
@import '../utils/breakpoints';

$standard-space: ($space * 4);

.page-strip {
    width: 100%;
    position: relative;
    margin: $standard-space 0;
    z-index: $z-base;

    &--has-background {
        margin: 0;
        padding: $standard-space 0;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &--has-bottom-background {
        margin-bottom: 0;
        padding-bottom: $standard-space;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &--has-top-background {
        margin-top: 0;
        padding-top: $standard-space;
    }

    &--grey {
        background-color: $off-white;
    }

    &--grey-top-half,
    &--grey-bottom-half {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-color: $off-white;
            left: 0;
            top: 0;
            height: calc(50% + #{$standard-space});
            width: 100%;
            z-index: $z-background;
        }
    }

    &--grey-bottom-half {
        &:before {
            top: auto;
            bottom: 0;
        }
    }

    &--primary {
        background-color: $primary;
    }

    &--secondary {
        background-color: $secondary;
    }

    &--tertiary {
        background-color: $tertiary;
        color: $white;
    }

    &--on-top {
        z-index: $z-overlay;
    }
}
